@charset "utf-8";

.side {
  flex: 10%;
  background-color: #f1f1f1;   
  display: flex;
  flex-flow: column nowrap;
	background-color: #ddd;
}
.side h2, .sidelinks {
	color: #3C1053;
	font-family: Bebas, sans-serif;
	text-align: center;	
}
.sidebuttons {
  display: flex;
  flex-flow: column nowrap;  
}
.sidebutton {
  display: inline-block;  
  border-radius: 4px;
  background-image: linear-gradient(to right, #3C1053, #9050b2);	
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 24px;
  padding: 5px;
  width: 200px;
  height: 2.5em;
  word-spacing: 4px;
  line-height: 1em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}

.sidebutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.sidebutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.sidebutton:hover span {
  padding-right: 25px;
}

.sidebutton:hover span:after {
  opacity: 1;
  right: 0;
}

/* DISPLAYS CONTENT THAT WAS CLICKED */
#isds4125, #isds3110, #isds3200, #isds3105, #dCalc, #sEase, #rTool {
	display: none;
}

@media screen and (max-width: 768px) {
  .side {
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    flex: 100%, 0 100%;
    justify-content: center;
    padding: 0;
		margin: 0;
		width: 100%;
  }
  .sidebuttons {
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
  .sidebutton {
    font-size: 16px;
    height: 1.5em;
    margin: 1px;
    padding: 0px;
    text-align: center;
    width: 95%;
  }
}