@charset "utf-8";

.side {
	background-color: #ddd;
}
.side h2, .sidelinks {
	font-family: Nobile, sans-serif;
}
.side-ul {
	list-style: none;
	
}
.coursebutton {
	font-family: "Dejavu Sans Mono", sans-serif;
	background-color: #fff;
    border: 2px solid black;
	border-radius: 4px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 2px;
	width: 200px;
}




/* DISPLAYS CONTENT THAT WAS CLICKED */
#isds4125, #isds3110, #isds3200, #isds3105 {
	display: none;
}