@charset "utf-8";


/************/
/* AMETIC SC */
/************/
@font-face {
    font-family: 'AmeticSC';
    src: url('../fonts/AmeticSC/AmeticSC-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/AmeticSC/AmeticSC-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/AmeticSC/AmeticSC-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/AmeticSC/AmeticSC-Regular.svg#ameticscregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmeticSC';
    src: url('../fonts/AmeticSC/AmeticSC-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/AmeticSC/AmeticSC-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/AmeticSC/AmeticSC-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/AmeticSC/AmeticSC-Bold.svg#ameticscbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*********/
/* ANTON */
/*********/
@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton/Anton-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Anton/Anton-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Anton/Anton-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Anton/Anton-Regular.svg#antonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/************/
/* OPEN SANS CONDENSED */
/************/
@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../fonts/OpenSansCondensed/OpenSansCondensed-Light.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Light.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Light.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Light.svg#opensanscondensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../fonts/OpenSansCondensed/OpenSansCondensed-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Bold.svg#opensanscondensedbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../fonts/OpenSansCondensed/OpenSansCondensed-LightItalic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-LightItalic.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-LightItalic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-LightItalic.svg#opensanscondensedlightitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/**********/
/* OSWALD */
/**********/
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-ExtraLight.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Oswald/Oswald-ExtraLight.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Oswald/Oswald-ExtraLight.svg#oswaldextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Oswald/Oswald-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Oswald/Oswald-Bold.svg#oswaldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/********************/
/* SHADOWS INTO LIGHT */
/********************/
@font-face {
    font-family: 'ShadowsIntoLight';
    src: url('../fonts/ShadowsIntoLight/ShadowsIntoLight.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ShadowsIntoLight/ShadowsIntoLight.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/ShadowsIntoLight/ShadowsIntoLight.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/ShadowsIntoLight/ShadowsIntoLight.svg#shadowsintolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/************/
/* HELVETICA */
/************/
@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Helvetica.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Helvetica.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Helvetica.svg#helvetica') format('svg');
    font-weight: normal;
    font-style: normal;
}



/********************/
/* PACIFICO-REGULAR */
/********************/
@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Pacifico-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Pacifico-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Pacifico-Regular.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/***************************/
/* IBM PLEX SANS CONDENSED */
/***************************/
@font-face {
    font-family: 'IBMPlexSansCondensed';
    src: url('../fonts/IBMPlexSansCondensed-Medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/IBMPlexSansCond-Medium.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/IBMPlexSansCond-Medium.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/IBMPlexSansCond-Medium.svg#ibmplexsansmed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansCondensed';
    src: url('../fonts/IBMPlexSansCondensed-MediumItalic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/IBMPlexSansCond-MediumItalic.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/IBMPlexSansCond-MediumItalic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/IBMPlexSansCond-MediumItalic.svg#ibmplexsansmeditalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'IBMPlexSansCondensed';
    src: url('../fonts/IBMPlexSansCondensed-Light.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/IBMPlexSansCond-Light.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/IBMPlexSansCond-Light.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/IBMPlexSansCond-Light.svg#ibmplexsanslight') format('svg');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansCondensed';
    src: url('../fonts/IBMPlexSansCondensed-LightItalic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/IBMPlexSansCond-LightItalic.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/IBMPlexSansCond-LightItalic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/IBMPlexSansCond-LightItalic.svg#ibmplexsanslightitalic') format('svg');
    font-weight: lighter;
    font-style: italic;
}

/********/
/* LATO */
/********/
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Lato-Light.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Lato-Light.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Lato-Light.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-LightItalic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Lato-LightItalic.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Lato-LightItalic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Lato-LightItalic.svg#latolightitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}