@charset "utf-8";


/************/
/* AMETIC SC */
/************/
@font-face {
    font-family: 'AmeticSC';
    src: url('../fonts/AmeticSC/AmeticSC-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/AmeticSC/AmeticSC-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/AmeticSC/AmeticSC-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/AmeticSC/AmeticSC-Regular.svg#ameticscregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AmeticSC';
    src: url('../fonts/AmeticSC/AmeticSC-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/AmeticSC/AmeticSC-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/AmeticSC/AmeticSC-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/AmeticSC/AmeticSC-Bold.svg#ameticscbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*********/
/* ANTON */
/*********/
@font-face {
    font-family: 'Anton';
    src: url('../fonts/Anton/Anton-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Anton/Anton-Regular.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Anton/Anton-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Anton/Anton-Regular.svg#antonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/************/
/* OPEN SANS CONDENSED */
/************/
@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../fonts/OpenSansCondensed/OpenSansCondensed-Light.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Light.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Light.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Light.svg#opensanscondensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../fonts/OpenSansCondensed/OpenSansCondensed-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-Bold.svg#opensanscondensedbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansCondensed';
    src: url('../fonts/OpenSansCondensed/OpenSansCondensed-LightItalic.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-LightItalic.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-LightItalic.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/OpenSansCondensed/OpenSansCondensed-LightItalic.svg#opensanscondensedlightitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

/**********/
/* OSWALD */
/**********/
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-ExtraLight.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Oswald/Oswald-ExtraLight.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Oswald/Oswald-ExtraLight.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Oswald/Oswald-ExtraLight.svg#oswaldextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald/Oswald-Bold.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/Oswald/Oswald-Bold.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/Oswald/Oswald-Bold.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/Oswald/Oswald-Bold.svg#oswaldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/********************/
/* SHADOWS INTO LIGHT */
/********************/
@font-face {
    font-family: 'ShadowsIntoLight';
    src: url('../fonts/ShadowsIntoLight/ShadowsIntoLight.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/ShadowsIntoLight/ShadowsIntoLight.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../fonts/ShadowsIntoLight/ShadowsIntoLight.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/ShadowsIntoLight/ShadowsIntoLight.svg#shadowsintolight') format('svg');
    font-weight: normal;
    font-style: normal;
}