@charset "utf-8";

* {
	box-sizing: border-box;
}

body {
    font-family: 'OpenSansCondensed', cursive;
    color: #000;
}

a {
    text-decoration: none;
    color: #3C1053;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

img {
    border: none;
}



/*
##################################################
##	  X.0		-		SECTION STANDARDS		##
##################################################
*/
.hline1 {
    position: relative;
    width: calc(95% - 100px);
    height: 3px;
    background-color: #3C1053;
    margin: 10px auto;
}

.hline2 {
    position: relative;
    width: calc(85% - 100px);
    height: 2px;
    background-color: #f57e39;
    margin: 10px auto;
}

.hline3 {
    position: relative;
    width: calc(75% - 100px);
    height: 1px;
    background-color: #40ff9f;
    margin: 10px auto;
}
.hline4 {
    position: relative;
    width: calc(70% - 100px);
    height: 1px;
    background-color: #fff;
    margin: 10px auto;
}
.smallhead {
    word-spacing: 0.3em;
    font-weight: normal;
    font-style: normal;
    line-height: 1em;
}

.largehead {
    font-weight: bold;
    font-style: normal;
    font-size: 3.5em;
    letter-spacing: 2.5px;
    line-height: 1em;
}
.navlink {
    display: block;
    width: 95%;
    padding: 1em;
    color: #FFF;
    background-image: linear-gradient(to bottom, #9050b2, #ab7ac7, #bb90d4);
}

.down {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: auto;
}

.down:hover {
    cursor: pointer;
}

.top-arrow {
    background: url('../media/blkarrow3.png');
    background-position: 0 0;
    width: 200px;
    height: 40px;
    transition: all .5s;
}

.down:hover .top-arrow {
    background: url('../media/purparrow3.png');
    background-position: 0 0;
    width: 200px;
    height: 40px;
}

.middle-arrow {
    background: url('../media/blkarrow3.png');
    background-position: 0px -45px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    transition: all .5s;
}

.down:hover .middle-arrow {
    background: url('../media/purparrow3.png');
    background-position: 0px -45px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
}

.bottom-arrow {
    background: url('../media/blkarrow3.png');
    background-position: 0px -86px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    transition: all .5s;
}

.down:hover .bottom-arrow {
    background: url('../media/purparrow3.png');
    background-position: 0px -86px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
}




/*
##########################################
##	  X.0		-		EXAMPLES		##
##########################################
*/
.examples {
    display: block;
	margin: auto;
}

.examples h2 {
    margin: 2em auto;
}


/* .ex-top-arrow {
    display: inline-block;
}

.ex-middle-arrow {
    display: inline-block;
}

.ex-bottom-arrow {
    display: inline-block;
} */



.ex-nav {
    display: block;
    margin: 10em auto auto auto;
    width: 95%;
}

.ex-navlinks {
    display: block;
	margin: 0px 5px;
    position: relative;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
	font-size: 1.2em;
}


.ex-navlink {
    position: relative;
	display: block;
	width: 99%;
	padding: 2em 0;
	margin: auto;
}
.ex-navbanner {
	margin: auto;
    display: flex;
    flex-flow: column nowrap;
	width: 95%;
	/* background-color: #9050b2; */
    /* padding: 1em; */
	color: #FFF;
}
.left-arrow {
	background: url('../media/whtarrow.png');
    background-position: 0px -86px;
    width: 200px;
    height: 40px;
	position: absolute;
	left: 5em;
	top: 2em;
}
.right-arrow {
	background: url('../media/whtarrow.png');
    background-position: 0px -86px;
    width: 200px;
    height: 40px;
	position: absolute;
	right: 5em;
	top: 2em;
}

.dc-descriptions {
    display: none;
    /* display: block; */
    flex-flow: column nowrap;
    justify-content: center;
	width: 95%;
	padding: 0 0 10em 0;
    margin: 4em auto auto auto;
	position: relative;
    text-align: center;
	list-style: none;
}
.dc-desc {
    width: 95%;
    margin: auto;
	position: relative;
	display: block;
	list-style: none;
}
.dc-thumbs {
    display: block;
    position: relative;
	margin: 2em auto;
	max-width: 400px;
	height: 266.66px;
	border: 4px solid #9050b2;
	border-radius: 50%;
	transition: all 1s ease;
}
.dc-desc img:enabled {
	/* display: block; */
	margin: 2em auto;
	max-width: 800px;
	height: 533.2px;
	border: 4px solid #9050b2;
	border-radius: 0px;
	/* transition: all 0.5s ease; */
}
.dc-thumbs:hover {
	border: 4px solid #fff;
}
/* .dc-container {
	background-color: #000;
	display: none;
	opacity: .4;
	width: 56.2em;
	height: 37.5em;
	position: absolute;
	left: calc(50% - 25em);
	right: calc(50% - 25em);
	top: calc(50% - 18.75em);
	bottom: calc(50% - 18.75em);
} */
/* .dc-displayimg {
	display: none;
	margin: auto;
	position: absolute;
	left: calc(50% - 25em);
	right: calc(50% - 25em);
	top: calc(50% - 18.75em);
	bottom: calc(50% - 18.75em);
	width: 50em;
	height: 39.5em;
	z-index: 1;
} */

.close {
    text-align: center;
    display: block;
    width: 10%;
    margin: auto;
}

#ex-close {
    display: none;
    padding: 10px;
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease;
}

#ex-close:hover {
    border-bottom: 2px solid #925ab1;
    cursor: pointer;

}