@charset "utf-8";
/*		
------------------------
KEY:
X.0     -       SECTION STANDARDS
X.1 	-		HEADER
X.2		-		ABOUT
X.3		-		EXAMPLES
X.4		-		COURSEWORK
X.5		-		CONTACT
X.6		-		
X.7		-		@MEDIA RULES
-----------------------
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'OpenSansCondensed', cursive;
    color: #000;
}

a {
    text-decoration: none;
    color: #3C1053;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

img {
    border: none;
}



/*
##################################################
##	  X.0		-		SECTION STANDARDS		##
##################################################
*/
.hline1 {
    position: relative;
    width: calc(95% - 100px);
    height: 3px;
    background-color: #3C1053;
    margin: 10px auto;
}

.hline2 {
    position: relative;
    width: calc(85% - 100px);
    height: 2px;
    background-color: #D29F13;
    margin: 10px auto;
}

.hline3 {
    position: relative;
    width: calc(75% - 100px);
    height: 1px;
    background-color: #3C1053;
    margin: 10px auto;
}
.smallhead {
    word-spacing: 0.3em;
    font-weight: normal;
    font-style: normal;
    line-height: 1em;
}

.largehead {
    font-weight: bold;
    font-style: normal;
    font-size: 3.5em;
    letter-spacing: 2.5px;
    line-height: 1em;
}
.navlink {
    display: block;
    width: 95%;
    background-image: linear-gradient(to bottom, #9050b2, #ab7ac7, #bb90d4);
    padding: 1em;
    color: #FFF;
}

.down {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: 200px;
    height: 200px;
    margin: auto;
}

.down:hover {
    cursor: pointer;
}

.top-arrow {
    background: url('../media/blkarrow3.png');
    background-position: 0 0;
    width: 200px;
    height: 40px;
    transition: all .5s;
}

.down:hover .top-arrow {
    background: url('../media/purparrow3.png');
    background-position: 0 0;
    width: 200px;
    height: 40px;
}

.middle-arrow {
    background: url('../media/blkarrow3.png');
    background-position: 0px -45px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    transition: all .5s;
}

.down:hover .middle-arrow {
    background: url('../media/purparrow3.png');
    background-position: 0px -45px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
}

.bottom-arrow {
    background: url('../media/blkarrow3.png');
    background-position: 0px -86px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
    transition: all .5s;
}

.down:hover .bottom-arrow {
    background: url('../media/purparrow3.png');
    background-position: 0px -86px;
    width: 200px;
    height: 40px;
    margin-top: 10px;
}

/*
######################################
##	  X.0		-		HEADER		##
######################################
*/
.header {
    display: block;
    position: relative;
    width: auto;
    margin: 0px;
    font-size: 1.2em;
}

.header-image {
    border: none;
    position: relative;
    margin: 100px auto 14em auto;
    padding: 0px;
    width: 100%;
}

.header-image img {
    border-radius: 50%;
    display: block;
    padding: 0px;
    margin: auto;
    width: 400px;
    max-width: 100%;
    height: auto;
    border: none;
    overflow: hidden;
    background-color: #838183;
    box-shadow: 0 4px 8px 0 #D29F13, 0 4px 30px 0 #D29F13;
    transition: all 0.5s ease;
}

#logoimage {
    transition: transform 10s ease;
}

#logoimage:hover {
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
}






/*
######################################
##	  X.0		-		ABOUT		##
######################################
*/
.about {
    display: block;
    margin: auto;
}

.about h1 {
    padding: 20px 0;
}

.ab-content {
    position: relative;
    text-align: center;
    margin: auto;
    width: 40%;
    font-size: 1.2em;
}







/*
##########################################
##	  X.0		-		EXAMPLES		##
##########################################
*/
.examples {
    display: block;
	margin: auto;
}

.examples h2 {
    margin: 2em auto;
}

.ex-down {}

/* .ex-top-arrow {
    display: inline-block;
}

.ex-middle-arrow {
    display: inline-block;
}

.ex-bottom-arrow {
    display: inline-block;
} */



.ex-nav {
    display: block;
    margin: 10em auto auto auto;
    width: 95%;
}

.ex-navlinks {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
	justify-content: center;
	margin: 0px 5px;
    position: relative;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
	font-size: 1.2em;
	
}


.ex-navlink {
	display: block;
	width: 95%;
	background-color: #9050b2;
    padding: 1em;
	color: #FFF;
}
.ex-navbanner {
	position: relative;
	display: block;
	width: 99%;
	padding: 2em auto;
	margin: auto;
}
.left-arrow {
	background: url('../media/whtarrow.png');
    background-position: 0px -86px;
    width: 200px;
    height: 40px;
	position: absolute;
	left: 5em;
	top: 2em;
}
.right-arrow {
	background: url('../media/whtarrow.png');
    background-position: 0px -86px;
    width: 200px;
    height: 40px;
	position: absolute;
	right: 5em;
	top: 2em;
}

.dc-descriptions {
    display: none;
	/* display: block; */
	width: 95%;
	padding-bottom: 10em;
	margin: 4em auto auto auto;
	position: relative;
    text-align: center;
	justify-content: center;
	list-style: none;
}
.dc-desc {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	list-style: none;
}
.dc-click {
	position: relative;
	width: auto;
	margin: auto;
}
.dc-thumbs {
	/* display: block; */
	margin: 2em auto;
	max-width: 400px;
	height: 266.66px;
	border: 4px solid #9050b2;
	border-radius: 50%;
	transition: all 0.5s ease;
}
.dc-thumbs:hover {
	border: 4px solid #fff;
}
.dc-container {
	background-color: #000;
	display: none;
	opacity: .4;
	/* width: 56.2em;
	height: 37.5em;
	position: absolute;
	left: calc(50% - 25em);
	right: calc(50% - 25em);
	top: calc(50% - 18.75em);
	bottom: calc(50% - 18.75em); */
}
.dc-displayimg {
	display: none;
	/* margin: auto; */
	position: absolute;
	left: calc(50% - 25em);
	right: calc(50% - 25em);
	top: calc(50% - 18.75em);
	bottom: calc(50% - 18.75em);
	width: 50em;
	height: 39.5em;
	z-index: 1;
}

.close {
    text-align: center;
    display: block;
    width: 10%;
    margin: auto;
}

#ex-close {
    display: none;
    padding: 10px;
    border-bottom: 2px solid #fff;
    transition: all 0.5s ease;
}

#ex-close:hover {
    border-bottom: 2px solid #925ab1;
    cursor: pointer;

}


/*
##############################################
##	  X.0		-		@MEDIA RULES		##
##############################################
*/
/*
	##################################################################
	##						VIEWPORT SIZE CHART			            ##
	##	----------------------------------------------------------- ##
	##			iPhone XR/XS Max	-		414 x 896	            ##
	##			iPhone X/XS				-		375 x 812	        ##
	##			iPhone 7P/8P			-		414 x 736	        ##
	##			iPhone 7/8				-		375 x 667	        ##
	##			iPhone 6P/6SP			-		414 x 736	        ##
	##			iPhone 6/6S				-		375 x 667	        ##
	##################################################################
	*/


@media screen and (max-width: 550px) {
    .hline1 {
        width: 95%
    }

    .hline2 {
        width: 85%
    }

    .hline3 {
        width: 75%
    }

    .ab-content {
        width: 75%;
    }

    #ex-leftline {
        display: none;
    }

    #ex-rightline {
        display: none;
    }

    .ex-tilegallery {
        width: 97%
    }

    .ex-navlink {
        font-size: 1em;
    }

    .close {
        width: auto;
    }

    #ex-close,
    #dc-close,
    #se-close,
    #rt-close {
        font-size: 2em;
        border-bottom: 2px solid #9050b2;
    }

    .ex-thumbs {
        flex-flow: column wrap;
    }

    #dc-image,
    #se-image,
    #rt-image {
        max-width: 325px;
        margin: auto;
    }

}