@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    font-family: 'ShadowsIntoLight', cursive;
    color: #000;
    font-size: 1em;
}

img {
    border: none;
}

.header {
    display: block;
    position: relative;
    width: auto;
    /* border: 1px solid blue; */
    margin: 0px;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.smallhead {
    /* border: 1px solid red; */
    word-spacing: 0.3em;
    font-weight: normal;
    font-style: normal;
    line-height: 1em;
    /* font-variant: small-caps; */
}

.largehead {
    /* border: 1px solid red; */
    font-weight: bold;
    font-style: normal;
    font-size: 3.5em;
    letter-spacing: 2.5px;
    line-height: 1em;
    /* font-variant: small-caps; */
}

.header-image {
    border: none;
    position: relative;
    margin: 100px auto auto auto;
    padding: 0px;
	width: 100%;
}

.header-image img {
    border-radius: 50%;
    display: block;
    padding: 0px;
    margin: auto;
    width: 400px;
	max-width: 100%;
	opacity: .5;
    height: auto;
    border: none;
    overflow: hidden;
    background-color: #838183;
    box-shadow: 0 2px 4px 0 #D29F13, 0 2px 10px 0 #D29F13;
    /* transition: box-shadow 0.5s transform 4s ease; */
}

/* .header-image img:hover {
    border: none;
	box-shadow: 0 4px 8px 0 #D29F13, 0 6px 20px 0 #D29F13;
	-ms-transform: rotate(720deg);
  	-webkit-transform: rotate(720deg); 
  	transform: rotate(720deg);
} */



.about {
	display: block;
    margin: 300px auto auto auto;
}
.about h1 {
	padding: 20px 0;
}
.h-line {
	position: relative;
	width: calc(75% - 100px);
	height: 2px;
	background-image: linear-gradient(to left,#e9dcf1, #3C1053);	
	margin: auto;
}