@charset "utf-8";

@font-face {
	font-family: 'ChrisFonts';
	src: url('Nobile-Regular.woff2') format('woff2'), /* Super Modern Browsers */
		 url('Nobile-Regular.woff') format('woff'), /* Pretty Modern Browsers */
		 url('Nobile-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */	
}
@font-face {
	font-family: 'ChrisFonts';
	src: url('Nobile-Bold.woff2') format('woff2') /* Super Modern Browsers */
         url('Nobile-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('Nobile-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
		 font-weight: bold;
}
@font-face {
	font-family: 'ChrisFonts';
	src: url('Nobile-Italic.woff2') format('woff2') /* Super Modern Browsers */
         url('Nobile-Italic.woff') format('woff'), /* Pretty Modern Browsers */
         url('Nobile-Italic.ttf')  format('truetype'); /* Safari, Android, iOS */
		 font-weight: italic;
}
* {
	font-family: ChrisFonts, sans-serif;
}
html {
	
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
	font-family: ChrisFonts, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;  
	margin: 0;
}
a {
	background: transparent;
	color: #dddddd;
	text-shadow: 1px 1px black;
	text-decoration: none;
	font-weight: 600;
}


/* BANNER */
.bannertop {
	box-sizing: border-box;
	display: flex;	
	flex-flow: column nowrap;
	width: 100%;	
}
.bannerlogo {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10%;
}
.logoimg {
	float: left;
	margin-right: 20px;
}
.logoimg img {	
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px 5px;
    width: 100px;
}
.logotext {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	margin-left: 5px;
	margin-top: 70px;
	margin-bottom: -5px;	
	border-bottom: 4px solid black;
	padding: 0px;
}
.logotext p {
	line-height: 0;
}
#myName {	
	font-weight: bold;
	font-size: 2.5em;	
}
#myContact {
	font-weight: bold;
	font-size: 1em;	
	padding: 0px 0px;
}
.bannerlinks {	
	width: 100%;
	background-color: black;	
	line-height: 1em;
}
.banner-ul {
	margin-left: 10%;
	display: flex;
	flex-flow: row nowrap;
	list-style: none;
}
.banner-ul li {
	margin: 0px 10px;
	text-align: center;	
}

.navlinks {
	font-size: 12px;
	padding: 15px 15px;
	color: #8e8d8e;
	-webkit-transition: width .3s, height .3s;
	transition: width .3s, height .3s;
}
.navlinks:hover {
	text-decoration: none;	
	color: #fff3aa;
	
}



/* MAIN CONTENT */
.content {
	
}
.content h1 {
	margin-left: 10%;
}



