@charset "utf-8";

.side {
  -webkit-flex: 10%;
  flex: 10%;
  -webkit-display: flex;   
  display: flex;
  -webkit-flex-flow: column nowrap;
  flex-flow: column nowrap;
  
}
.side h2, .sidelinks {
	color: #3C1053;
	font-family: Bebas, sans-serif;
  text-align: center;	
}
.mobileheading {
  display: none;
}
#subtxt {
  font-size: 10px;
  font-family: RobotoMedium, Nobile, sans-serif;
  font-style: italic;
  text-align: left;
  align-items: flex-start;
  margin: auto;
  -webkit-animation-name: construction;
  -webkit-animation-duration: 2s;
  animation-name: construction;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes construction {
  0% {color: #353535;}
  50% {color: rgb(172, 119, 4);}
  100% {color: #353535;}
}

/* Standard syntax */
@keyframes construction {
  0% {color: #353535;}
  50% {color: rgb(172, 119, 4);}
  100% {color: #353535;}
}


.sidebuttons {
  display: none;
  margin-top: 10px;
}

.sidebutton {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-image: linear-gradient(to right, #3C1053, #9050b2);	
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 0px 5px 0px 5px;
  width: 200px;
  height: 2.3em;
  word-spacing: 4px;
  line-height: 1em;
  transition: all 0.5s;
  cursor: pointer;
  margin: 3px;
}
.sidebutton span {    
    margin: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-bottom: 0;
    transition: all 0.5s;
}
.sidebutton div, .sidebutton p {    
    margin: 0;
    line-height: 1em;
    word-spacing: 1px;    
    opacity: 0; 
    position: relative;
    font-size: 1px;
    padding: 0;
    transition: all 0.5s;
}
@media screen and (min-width: 768px) {
.sidebutton:hover {
  border: 2px solid #ffd314;
  padding-bottom: 2px;
}
.sidebutton:hover span {
  padding-bottom: 1px;
}
.sidebutton:hover div, .sidebutton:hover p {
    display: inline-block;
    font-size: 8px;
    opacity: 1;
    
  }
  
}

/* DISPLAYS CONTENT THAT WAS CLICKED */
#isds4125, #isds3110, #isds3200, #isds3105, #dCalc, #sEase, #rTool {
	display: none;
}

@media screen and (max-width: 900px) {
  .side {
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-flex: 100%, 0 100%;
    flex: 100%, 0 100%;
    justify-content: center;
    padding: 0;
		margin: 0;
		width: 100%;
  }
  .mobileheading {
    display: block;
  }
  .sidebuttons {
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }
  .sidebutton-m {
    flex-flow: row nowrap;
    font-size: 16px;
    height: 2em;
    margin: 1px;
    padding: 0px;
    text-align: center;
    width: 95%;
    transition: background-image 0.5s;
  }
  .sidebutton-m:hover {
    background-image: linear-gradient(to right,#9050b2, #ffd314);
  }
  .sidebutton-m span {
    display: block;
    float: left;
    opacity: 1;
    transition: 0s;
  }
  .sidebutton-m p {
    text-align: right;
  }
  .sidebutton div {
    width: 60%;
  }
  .sidebutton-m div, .sidebutton-m p {
    font-size: 11px;
    margin: 3px;
    transition: 0s;
    opacity: 1;
  }
}