@charset "utf-8";
/*		
------------------------
KEY:
X.1 	    -		HEADER
X.2		    -		NAV
    X.2.1	-		SEARCH BAR
    X.2.2	-		LOGO
    X.2.3	-		NAVLINKS
    X.2.4	-		FEATURED
    X.2.5	-		SUB-FEATURED
X.3         -       MAIN
    X.3.1	-		UPDATES-AREA
    X.3.2   -       FEED-AREA
X.4 		-		@MEDIA RULES
-----------------------
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', cursive;
    color: #000;
}

h1,
h2,
h3 {
    font-family: 'Pacifico', sans-serif;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

img {
    border: none;
}
a {
    font-family: 'Pacifico', sans-serif;
    text-align: center;
    /* color: #53b7d0; */
    margin: 0px;
    padding: 0px;
}


/*
######################################
##	  X.1		-		HEADER		##
######################################
*/






/*
######################################
##	  X.2		-		NAV		##
######################################
*/

/*
##########################################
##	  X.2.1		-		SEARCH BAR		##
##########################################
*/
.header {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    /* margin: auto; */
    font-size: 1.2em;
}
.headsearch {
    display: flex;
    background-color: #fdd4d7;
    flex-flow: row nowrap;
    margin: auto;
    width: 100%;
    font-size: 1.2em;
}
.header-social {
    flex: 50%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    margin-top: 1em;
    position: relative;
    width: 100%;
    /* margin: 2em 0em 0em 0em; */
}
.header-social img {
    margin: 0em .5em 0em .5em;
    width: 42px;
    height: 42px;
}
.facebook-icon {
    
}
.twitter-icon {
    
}
.pinterest-icon {
    
}
.header-search {
    flex: 50%;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    /* background-color: #e9e9e9; */
    /* width: 100%; */
}
.searchbar {
    margin-top: 1em; 
}
.searchbar img {
    display: block;
    margin: auto;
    width: 20px;
    height: 20px;
}
.searchbar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.searchbar button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.searchbar button:hover {
    background: #ddd;
}

/*
######################################
##	  X.2.2		-		LOGO		##
######################################
*/
.headlogo {
    display: flex;
    background-color: #fdd4d7;
    align-content: center;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.divider {
    background-color: #fff;
    display: block;
    width: 100%;
    margin: 1em 0em 0em 0em;
}

/*
######################################
##	  X.2.3		-		SITENAV		##
######################################
*/
.sitenav {
    padding: 1em 0em 1em 0em;
    display: flex;
    flex-flow: row nowrap;
    background-color: #fdd4d7;
    align-content: center;
    justify-content: space-around;
    margin: auto;
    width: 65%;
}
.navlink {
    /* padding: 0em 1.5em 0em 1.5em; */
    /* box-shadow: inset 0px -3px 10px #925ab1; */
    text-decoration: none;
}
.sitenav a {
    color: #53b7d0;
    font-size: 2em;
    transition: all 0.5s ease;
}
.navlink:hover {
    color: white;
  text-shadow:
   -1px -1px 0 #53b7d0,  
    1px -1px 0 #53b7d0,
    -1px 1px 0 #53b7d0,
     1px 1px 0 #53b7d0;
    /* color: #53b7d0; */
    font-size: 2em;
}



/*
##########################################
##	  X.2.4		-		FEATURED		##
##########################################
*/

.featured-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.main-feature {
    display: block;
    position: relative;
    width: 100%;
    margin: auto;
}
.main-feature-content {
    display: block;
    position: relative;
    margin: auto;
    width: 800px;
    height: 600px;
}
.main-feature-content #featured-a {
    display: block;
    width: 100%;
    margin: auto;
}
.main-feature-content #featured-img {
    width: 800px;
    height: 600px;
}
.featured-overlay {
    position: absolute;
    top: 250px;
    right: 0;
    width: 800px;
    height:150px;
    opacity: .8;
    transition: .5s ease;
    background-color: #fff;
}
.featured-overlay-content {
    position: absolute;
    top: 250px;
    right: 0;
    width: 800px;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 3em;
}
#featured-txt-a {
    font-family: 'Pacifico', sans-serif;
    font-size: 2em;
    color: #53b7d0;
}
#featured-txt-b {
    font-family: 'Helvetica', sans-serif;
    font-size: 2em;
    color: #000;
}
#featured-txt-c {
    font-family: 'Pacifico', sans-serif;
    font-size: 1em;
    color: #53b7d0;
}


/* .main-feature:hover .featured-overlay {
    opacity: 1;
} */


/*
##############################################
##	  X.2.5		-		SUB-FEATURED		##
##############################################
*/
.sub-featured {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 800px;
}
.sub-featured-1a #sub-featured-a, .sub-featured-1b #sub-featured-b {
    display: block;
    width: 100%;
}
.sub-featured-1a #sub-featured-img-a, .sub-featured-1b #sub-featured-img-b {
    width: 300px;
    height: 225px;
    
}
.sub-featured-overlay {
    width: 300px;
    height: 225px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    line-height: 2.5em;
}
#sub-overlay-a {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    background-color: #fff;
    width: 300px;
    height: 225px;
}
#sub-overlay-b {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    text-align: center;
    background-color: #fff;
    width: 300px;
    height: 225px;
}
#sub-overlay-c {
    
}
.sub-featured-1a:hover #sub-overlay-a, .sub-featured-1b:hover #sub-overlay-b, .sub-featured-1c:hover #sub-overlay-c {
    opacity: .8;
}
#featured-txt-1a, #featured-txt-2a{
    font-family: 'Pacifico', sans-serif;
    font-size: 1.5em;
    color: #53b7d0;
}
#featured-txt-1b, #featured-txt-2b {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.5em;
    color: #000;
}
#featured-txt-1c, #featured-txt-2c {
    font-family: 'Pacifico', sans-serif;
    font-size: 1em;
    color: #53b7d0;
}

/*
######################################
##	  X.3		-		MAIN		##
######################################
*/

/*
##############################################
##	  X.3.1		-		UPDATES-AREA		##
##############################################
*/
.main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    /* height: 350px; */
    margin: auto;
}


/*
##########################################
##	  X.3.2		-		FEED-AREA		##
##########################################
*/


